@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232946;
  --headline: #fffffe;
  --card-background: #fffffe;
  --card-heading: #232946;
  --paragraph: #b8c1ec;
  --button: #eebbc3;
  --button-text: #232946;
  --highlight: #eebbc3;
  --main: #b8c1ec;
  --tertiary: #eebbc3;
  --stroke: #121629;
  --error-color: #FF6B6B;
  --success-color: #76C7C1;
}

body {
  color: var(--paragraph);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
