@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232946;
  --paragraph: #b8c1ec;
}

body {
  color: var(--paragraph);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
